*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    
        margin: 0;
        font-size: 16px;
        font-family: "lato", sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: rgb(0, 0, 0);
}
.section1{
    
    background-image: url(images/developer.jpg);
    min-height: 100%;
position: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.content1{
    position: absolute;
    top: 10%;
    width: 60%;
   display: flex;
   justify-content: center;
color:white ;
   font-size: 30px;
   line-height: 60px;
}
.smalltxtbg1{
    font-size:22px ;
}
.section2{
  min-height: 300px;
  background-color: rgb(53, 52, 52);
}
.section2 .content2{
    color: beige;
   font-size: 40px;
   display: flex;
   justify-content: center;
  padding: 150px;
}
.bigtxt2{
    font-size: 80px;
}
.section3{
    min-height: 90vh;
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: space-evenly;
    
   
}
.image_container2{
display: grid;
min-width: 100% ;
justify-content:space-between;
    
}
.card {
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(69, 68, 68);
  
}
.card_content{
    background-color: rgb(46, 45, 45);
    color: beige;
}
.card_content h3{
display: flex;
justify-content: center;
justify-self:center ;
padding: 10px;
}
.card_content p{
   text-align: justify;
   padding: 10px;
 
}
#pad3{
    height: 205px;
}

.grid_item{
display: flex;
justify-content: center;
align-items: center;
}
.image_container2 .apppic{
 max-width: 320px;
height: 200px;
 border-radius: 10px;

}
.image_container3 .apppic{
        margin-bottom: -3%;
        width: 320px;
        height: 200px;
        border-radius: 10px;
}
.card:hover{
    box-shadow: 10px 10px 10px rgb(63, 62, 62);
    transform: scale(1.4); /*very important*/
    transition: 0.3s ease-out;
}
.section4{
    color: beige;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section4 .contact{
    padding: 30px;
   background-color: rgb(80, 149, 11);
   line-height: 35px;
   letter-spacing: 1px;
}
.section4 .about{
    padding: 30px;
    background-color: rgb(202, 87, 38);
    line-height: 35px;
        letter-spacing: 1px;
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    color: beige;
    justify-items: center;
    align-items: center;
    letter-spacing: 20px;
    height: 100px;
    

}
footer:hover{
    letter-spacing: 40px;
    transition: 0.4s ease-in-out;
}
/* for adjusting in mobile */
@media (max-width : 786px) {
    .section1{
        min-height: 50vh;
    }
   /* more to come */
}